.navWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #4E4FEB;
}
h1{
    text-align: center;
}